<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div class="form-container">
    <h2>Login</h2>
    <form action="/login" method="POST" class="form-class">
      <input type="text" name="username" placeholder="Username" class="input-class" required />
      <input type="password" name="password" placeholder="Password" class="input-class" required />
      <button type="submit" class="button-class">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register Here</a></p>
  </div>
</body>
</html>
